body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F9F7FE;
}

.App {
  max-width: 800px;
  margin: 50px auto;
}

.App footer p {
  text-align: center;
  font-size: 14px;
  color: #888;
  margin: 20px 0;
}

.App a {
  color: #885DF1;
  text-decoration: none;
}